*{
    margin:0;
    padding:0;
}
body{
    background-image:url("https://images.pexels.com/photos/5717411/pexels-photo-5717411.jpeg");
    background-size:cover;
    height: 100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;   
}
.bg-container{
    width:90%;
    height:90%;
    background:linear-gradient(rgba(14, 8, 8, 0.8),rgba(0,0,0,0.4));
}
.container{
    width: 50%;
    height:150px;
    min-width: 350px;
    background-color: rgb(20, 13, 5);
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding:10px;
    margin-left:300px;
    margin-top:250px;
    
}
.heading{
    justify-content:center;
    align-items:center;
    margin-left:250px;
    padding:10px;
    font-size:25px;
    font-weight:15px;
    color:beige;

}
#newtask{
    position: relative;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}
#taskinfo{
    width: 75%;
    height: 35px;
    border: 2px solid #d1d3d8;
    border-radius: 6px;
    color: #111115;
    font-weight: 400;
    padding-left: 5px;
}
#add{
    width: 20%;
    height: 35px;
    border-radius:5px;
    font-weight: 500;
    background-color: #4c412b;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}
#tasklist{
    margin-bottom: 9px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #625b34;
    height: 45px;
    margin-bottom: 9px;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c9cc84;
}
.del{
    color:#d11a2a;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
   
}
